/* SHOWCASE */
hr {
    margin: 10px 0;
}


.showcase {
    width: 100%;
    height: 550px;
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-end;

    h2
    p{
        margin-bottom: 10px;
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;

    &:hover {
        opacity: .7;
    }
}



/* NEWS CARDS*/
.news-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}


.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
}


/* CARDS BANNER ONE */
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url('../img/banner2.jpg') no-repeat center center/cover;
    
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 30px;
    color: #ffffff;
}

.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0 20px 0;
}
