@import "generales";
@import "navbar";
@import "main";
@import "footer";

a {
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}



/* TABLAS */
.title{
    text-transform: uppercase;
    text-align: center;
}


table {
    width: 100%;
    border: 1px solid red;
 }
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid red;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 th{
    background-color: red;
 }



 .tablas{
    text-align: center;
 }


 form {
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}





@media (max-width: 700px){


   .news-cards{
    grid-template-columns: repeat(2, 1fr);
   }

   .cards-banner-one .content,
   .cards-banner-two .content
   {
    width: 80%;
   }

   .footer-links .footer-container{
    grid-template-columns: repeat(2, 1fr);
   }
}


@media (max-width: 500px){
    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-cards img {
        height: 250px;
    }
    .cards-banner-one .content
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }

    



    
}